.pokemonContainer{
    width: 300px;
    height: 450px;
    background: lightgrey;
    border: 3px inset white;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: all .5s ease-in-out;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #8a8989;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pokemonContainer:hover {
    transform: translateY(-5px);
    transition: all .5s ease-in-out;
  }
.pokemonDivisor{
    height: 1px;
    background-color: black;
}
.pokemonInfo{
    display: flex;
    flex-direction: column;
}
.pokemonImg{
    width: 226px;
    height: 218px;
}