.pokemonContainer{
    background-color: purple;
    width: 20rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.pokemonDivisor{
    height: 1px;
    background-color: black;
}
.pokemonInfo{
    display: flex;
    flex-direction: column;
}