.container {
    display: flex;
    margin: 0px 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.container select {
    margin: 0px 5px;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(87, 85, 85);
    color: white;
    -webkit-box-shadow: 4px 5px 7px 1px rgba(0,0,0,0.77); 
box-shadow: 4px 5px 7px 1px rgba(0,0,0,0.77);
}

.container h4 {
    color: white;
}