.bttn{
    background: rgba(155, 106, 106, 0.1);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
    backdrop-filter: blur(15px);
    margin: 2em;
    box-shadow: 2.5px 5px 20px rgb(255, 255, 255);
    border: none;
    font-size: 1.5em;
  }
  
  .bttn:hover {
    background-color: #7d7aab;
  }